# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Django database and migrations
db.sqlite3
*.pyc
*/migrations/*.pyc
*/migrations/__pycache__/

# PyTorch / Transformers cache
*.pt
*.bin
*.model

# Logs
*.log

# Node modules (if used)
node_modules/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS system files
.DS_Store
Thumbs.db

# VSCode files
.vscode/